* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

img {
  display: block;
  max-width: 100%; }

html,
body {
  height: 100%; }

body {
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42; }

.wrapper {
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%;
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 auto;
  width: 1100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }

.section {
  height: 100%; }

.navigation {
  position: fixed;
  top: 50%;
  right: 165px;
  transform: translateY(-50%);
  z-index: 100; }
  .navigation__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; }
  .navigation__item {
    margin: 5px 0;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .3s; }
    .navigation__item--active {
      border: 1px solid #fff; }
    .navigation__item:hover {
      border: 1px solid #fff; }
  .navigation__link {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff; }

.hero {
  background-color: #86c3d7; }

.hero__container {
  padding-top: 24px;
  color: #fff;
  background-image: url(../img/banner/pattern.png);
  background-position: 588px 0px;
  background-repeat: no-repeat;
  padding-left: 80px;
  padding-right: 46px; }

.hero__content {
  display: flex;
  flex-direction: row; }

.hero__text {
  padding-top: 100px;
  line-height: 1.2;
  width: 50%;
  margin-bottom: 47px;
  z-index: 5; }
  .hero__text p {
    font-size: 21px;
    margin-bottom: 27px;
    padding-right: 112px; }

.hero__text-title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px; }

.hero__text-list, .hero__text-item {
  display: flex;
  flex-direction: row; }

.hero__text-desc {
  font-size: 16px; }

.hero__text-item {
  width: 29%;
  margin-right: 32px; }
  .hero__text-item:last-child {
    margin-right: 0; }

.hero__text-icon {
  margin-right: 10px; }

.hero__text-desc {
  margin-right: 10px; }

.hero__img {
  position: absolute;
  right: 15px;
  top: 57px; }

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.logo-link {
  height: 39px; }

.menu__link, .phone__number {
  color: #fff; }

.phone {
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  margin-right: 32px; }
  .phone:before {
    content: "";
    width: 12px;
    height: 11px;
    position: absolute;
    left: -16px;
    top: 12px;
    background-image: url(../img/icon/phone.png); }

.menu {
  width: 65%; }

.menu__list {
  display: flex;
  flex-direction: row; }

.menu__item {
  margin-left: 25px; }
  .menu__item:first-child {
    margin-left: 0; }

.btn {
  padding: 19px 35px;
  border: none;
  color: #365a49;
  text-transform: uppercase;
  font-size: 19px;
  border-radius: 29px;
  font-weight: 800;
  background-color: #fff;
  margin-bottom: 67px;
  cursor: pointer; }

.why {
  text-align: center;
  padding-top: 97px; }

.why__bg {
  position: absolute;
  top: 91px;
  left: 0; }

.why__container p {
  color: #666666;
  width: 38%;
  align-self: center;
  margin-bottom: 50px; }

.why__list {
  display: flex;
  flex-direction: row;
  margin: 0 auto 115px;
  width: 89%; }

.why__item {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 53px;
  position: relative; }
  .why__item:last-child {
    margin-right: 0; }
  .why__item:after {
    content: "";
    width: 67px;
    height: 21px;
    position: absolute;
    top: 53px;
    left: -59px;
    background-image: url(../../img/why/points.png); }
  .why__item:first-child:after {
    display: none; }
  .why__item p {
    width: 100%;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0; }
  .why__item h4 {
    color: #000;
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 14px; }

.why__frame {
  align-self: center;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #f2f5f4;
  position: relative;
  margin-bottom: 27px; }

.why__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.reviews {
  text-align: center; }

.reviews__container {
  padding-top: 52px; }
  .reviews__container .section__title {
    margin-bottom: 24px;
    z-index: 3; }

.reviews__bg-one {
  position: absolute;
  right: 14px;
  top: 36px; }

.reviews__bg-two {
  position: absolute;
  bottom: -159px;
  left: 0; }

.reviews__hover {
  display: flex;
  flex-direction: row;
  margin: 0 auto 21px;
  width: 86%;
  background-color: #f8faf9;
  background-image: url(../../img/reviews/bg-rw3.png);
  background-position: right top;
  background-repeat: no-repeat;
  padding: 51px 45px 34px;
  text-align: start;
  position: relative; }
  .reviews__hover:before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    top: -74px;
    left: 421px; }
  .reviews__hover h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 18px; }
  .reviews__hover p {
    width: 76%;
    line-height: 1.25;
    margin-bottom: 26px;
    color: #666666; }

.reviews__name {
  font-weight: 500; }

.reviews__avatar {
  width: 30%;
  margin-right: 23px; }

.reviews__content {
  padding-top: 8px; }

.reviews__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 62px; }

.reviews__item {
  margin-right: 5px; }

.reviews__icon {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 6px solid transparent;
  transition: .3s; }
  .reviews__icon:hover {
    border: 6px solid #365a49; }

.reviews__icon--activ {
  border: 6px solid #365a49; }

/*# sourceMappingURL=mail.css.map */
