*{
  box-sizing: border-box;
}

$blue: #86c3d7;

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

p{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

svg{
  display: block;
}

img{
  display: block;
  max-width: 100%;
}

html{
  font-size: 16px;

  @include laptop{
    font-size: 15px;
  }

  @include phones{
    font-size: 13px;
  }
}

html,
body{
  height: 100%;
}

body{
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42;
}

.wrapper{
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.section{
  height: 100vh;
  min-height: 40.625rem;
  display: flex;
  flex-direction: column;

  @include tablets{
    min-height: 66.6rem;
  }

  @include phones{
    min-height: 61.54rem;
  }
}

.container{
  margin: 0 auto;
  width: 98%;
  max-width: 58.75rem;
  align-items: center;

}