.bars{
  background: #f8faf9;
}

.bars__container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.arrow__left-icon,
.arrow__right-icon{
  width: 0.8125rem;
  height: 1.75rem;
}

.arrow__left-icon{
  transform: rotate(180deg);
}

.bars__item,
.bar__desc-row{
  display: flex;
  flex-direction: row;
}

.bars__item{
  @include tablets{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.bars__list{
  display: flex;
}

.bar__picture{
  width: 28.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3.5rem;

  @include tablets{
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.bar__picture-img{
  flex-shrink: 0;
}

.bar__content{
  flex: 1;
  display: flex;
  flex-direction: column;

  @include tablets{
    align-items: center;
  }
}

.bar__composition{
  display: inline-block;
  margin-bottom: 1.1875rem;

  @include tablets{
    display: none;
  }
}

.bar__composition-btn{
  width: 5.625rem;
  height: 5.625rem;
  background-color: #60aacc;
  padding: 10px 19px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.bar__composition-icon{
  fill: #ffffff;
  width: 3.1875rem;
  height: 3.1875rem;
  margin-bottom: 3px;
}

.bar__title{
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 0.3125rem;
}

.bar__desc{
  padding-right: 3.625rem;
  color: #666666;
  margin-bottom: 1.5rem;
  line-height: 1.2;

  @include tablets{
    padding-right: 0;
    width: 71%;
  }

  @include phones{
    width: 86%;
  }
}

.bar__desc-row{
  margin-bottom: 2.1875rem;

   &:last-child{
     margin-bottom: 0;
     height: 4.6875rem;
   }
}

.bar__option{
  margin-right: 3.625rem;

  @include tablets{
    text-align: start;

    &:last-child{
      margin-right: 0;
    }
  }
}

.bar__option-name{
  color: #666666;
}

.bar__option-size{
  font-weight: 700;
}

.bar__price{
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  display: flex;
  margin-right: 2.125rem;
}

.bar__price-icon{
  height: 1.875rem;
  width: 1.3125rem;
}

.bar__price-value{
  margin-right: 1.25rem;
}

.bar__price-rub{
  padding-top: 1rem;

  @include phones{
    padding-top: 1.47rem;
  }
}

.bar__btn{
  .btn{
    color: #fff;
    background-color: #365a49;

    &:hover{
      color: #365a49;
    background-color: #fff;
    }
  }
}