.btn{
  padding: 1.1875rem 2.1875rem;
  border: none;
  color: #365a49;
  text-transform: uppercase;
  font-size: 1.1875rem;
  border-radius: 1.8125rem;
  font-weight: 800;
  background-color: #fff;
  cursor: pointer;
  transition: .5s;
  outline: none;

  @include phones{
    margin-bottom: 7.32rem;
    padding: 1.53rem 3.15rem;
    font-size: 18px;
    border-radius: 2.23rem;
  }
}

.btn:hover{
  color: #fff;
  background-color: #365a49;
}