.bar__composition-block{
  display: none;
  position: absolute;
  width: 16.875rem;
  top: 0;
  left: 5.625rem;
  background-color: #fff;
  transition: 0.3s opacity;
  opacity: 0;
  padding: 1.5625rem;
  border-radius: 5px;
  border: 1px solid #eee;
}

.composition{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.composition__icon{
  margin-right: 25px;
}

.composition__icon-svg{
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.composition__name{
  margin-right: auto;
}