.footer__container{
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;

  @include phones{
    flex-direction: column;
  }
}

.footer__address{
  font-size: 21px;

  @include phones{
    margin-bottom: 1rem;
  }
}

.footer__contacts{
  .phone-link{
    @include tablets{
      display: block;
    }

    @include phones{
      margin-bottom: 1rem;
    }
  }

  .phone__number{
    color: #365a49;
    font-size: 21px;

    @include phones{
      justify-content: center;
    }
  }

  .phone-icon{
    fill: #365a49;
  }
}

.social__list{
  display: flex;
}

.social__item{
  margin-left: 1rem;
  opacity: 0.3;
  transition: .5s;

  &:hover{
    opacity: 1;
  }
}

.social__icon{
  width: 23px;
  height: 20px;
}