.footer__container{
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  align-items: center;
}

.footer__address{
  font-size: 21px;
}

.footer__contacts{
  .phone__number{
    color: #365a49;
    font-size: 21px;
  }

  .phone-icon{
    fill: #365a49;
  }
}

.social__list{
  display: flex;
}

.social__item{
  margin-left: 1rem;
  opacity: 0.3;
  transition: .5s;

  &:hover{
    opacity: 1;
  }
}

.social__icon{
  width: 1.4375rem;
  height: 1.25rem;
}