header{
  padding: 1.5rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets{
    padding-left: 1rem;
  }
}

.logo-link{
  height: 2.4375rem;
}

.menu__link, .phone__number{
  color: #fff;
}

.phone-link{
  font-size: 1.5rem;
  text-transform: uppercase;

  @include tablets{
   display: none; 
  }
}

.phone__number{
  display: flex;
  align-self: center;
}

.phone-icon{
  width: 0.75rem;
  height: 0.75rem;
  fill: #fff;
  align-self: center;
  margin-right: 0.375rem;
}