header{
  padding: 1.5rem 0;
  position: relative;
}

.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link{
  height: 2.4375rem;
}

.menu__link, .phone__number{
  color: #fff;
}

.phone-link{
  font-size: 1.5rem;
  text-transform: uppercase;
}

.phone__number{
  display: flex;
  align-self: center;
}

.phone-icon{
  width: 0.75rem;
  height: 0.75rem;
  fill: #fff;
  align-self: center;
}