.hero{
  background-color: $blue;
  background-image: url(../img/banner/pattern.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  position: relative;

  @include tablets{
    background-position-y: 15%;
    background-size: 65%;
  }
}

.hero__content{
  flex: 1;
}

.hero__container{
  color: #fff;
  display: flex;
  justify-content: flex-start;
  position: relative;
  height: 100%;

  @include phones{
    align-items: flex-end;
  }
}

.hero__text{
  padding-top: 4.75rem;
  line-height: 1.2;
  width: 50%;
  margin-bottom: 2.9375rem;
  z-index: 5;

  p{
    font-size: 1.3125rem;
    margin-bottom: 1.875rem;
    padding-right: 6rem;

    @include tablets{
      padding-right: 0;
      width: 55%;
      margin-right: auto;
      margin-left: auto;
    }

    @include phones{
      width: 74%;
    }
  }

  @include tablets{
    width: 90%;
    text-align: center;
    padding-top: 66%;
    margin: 0 auto;
  }
}

.hero__text-title{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.4375rem;

  @include tablets{
    margin-bottom: 0.93rem;
  }

  @include phones{
    line-height: 1;
  }
}

.hero__text-list, .hero__text-item{
  display: flex;
  flex-direction: row;

  @include tablets{
    display: none;
  }
}

.hero__text-desc{
  font-size: 1rem;
}

.hero__text-item{
  margin-right: 0.9375rem;

  &:last-child{
    margin-right: 0;
  }
}

.hero__text-wrap{
  display: flex;
}

.hero__text-icon{
  fill: #c6f7ff;
  width: 3.125rem;
  height: 2.625rem;
  margin-right: 0.5625rem;
  flex-shrink: 0;
}

.hero__img-one{
  position: absolute;
  right: -3.875rem;
  bottom: -2.875rem;

  @include tablets{
    width: 19.6rem;
    height: 16.13rem;
    top: 27%;
    right: 23%;
  }

  @include phones{
    width: 22.6rem;
    height: 17.13rem;
    top: 28%;
    right: 8%;
  }
}

.hero__img-two{
  position: absolute;
  bottom: -3.125rem;
  left: -3.1875rem;

  @include tablets{
    width: 2.6rem;
    height: 5.06rem;
    top: 40%;
    left: 26%;
  }

  @include phones{
    top: 37%;
    left: 16%;
  }
}

.hero__img-three{
  position: absolute;
  right: 11.125rem;
  bottom: 2.3125rem;

  @include tablets{
    transform: rotate(90deg);
    width: 14rem;
    height: 13.3rem;
    top: 20%;
    left: 35%;
  }

  @include phones{
    top: 24%;
    left: 27%;
  }
}

.hero__img-chocco{
  position: absolute;
  top: 9%;
  right: -3.1875rem;
  width: 31.4375rem;
  height: 32.6875rem;

  @include tablets{
    width: 22.86rem;
    height: 23.73rem;
    top: 7.0625rem;
    left: 50%;
    transform: translateX(-50%);
  }

  @include phones{
    width: 23.86rem;
    height: 25.73rem;
  }
}