.why{
  text-align: center;
  padding-top: 6.125rem;
  position: relative;

  @include tablets{
    padding-top: 37%;
  }
}



.why__container{
  &:before{
    content: "";
    position: absolute;
    background: url(../img/why/why-bg1.png);
    left: 0;
    bottom: -6.3125rem;
    width: 10.0625rem;
    height: 19.6875rem;
  }

  &:after{
    content: "";
    position: absolute;
    background: url(../img/why/why-bg2.png);
    left: 0;
    bottom: 24%;
    width: 11.9375rem;
    height: 19.625rem;

    @include tablets{
      width: 11.4rem;
      height: 18.8rem;
      top: 9%;
    }
  }

  p{
    color: #666666;
    width: 44%;
    align-self: center;
    margin: 0 auto 3.125rem;

    @include tablets{
      width: 56%;
    }
  }
}

.why__list{
  display: flex;
  flex-direction: row;
}

.why__item{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 4.5rem;
  position: relative;

  &:last-child{
    margin-right: 0;
  }

  &:after{
    content: "";
    width: 4.1875rem;
    height: 1.3125rem;
    position: absolute;
    top: 3.3125rem;
    left: -3.8125rem;
    background-image: url(../img/why/points.png);

    @include tablets{
      display: none;
    }
  }

  &:first-child:after{
    display: none;
  }
  
  p{
    width: 100%;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0;
  }

  h4{
    color: #000;
    font-size: 1.6875rem;
    font-weight: 700;
    margin-bottom: 0.875rem;
  }
}

.why--frame{
  align-self: center;
  width: 7.8125rem;
  height: 7.8125rem;
  border-radius: 50%;
  background-color: #f2f5f4;
  position: relative;
  margin-bottom: 1.6875rem;
}

.why__img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.6875rem;
  height: 4.3125rem;
  fill: #2e2e2d;
}