.why{
  text-align: center;
  position: relative;
}

.why__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &:before{
    content: "";
    position: absolute;
    background: url(../img/why/why-bg1.png);
    left: 0;
    bottom: -6.3125rem;
    width: 10.0625rem;
    height: 19.6875rem;

    @include tablets{
      background-size: cover;
      bottom: -4.3125rem
    }

    @include phones{
      display: none;
    }
  }

  &:after{
    content: "";
    position: absolute;
    background: url(../img/why/why-bg2.png);
    left: 0;
    bottom: 24%;
    width: 11.9375rem;
    height: 19.625rem;

    @include tablets{
      top: 9%;
      background-size: cover;
    }

    @include phones{
      display: none;
    }
  }
}

.why__desc{
  color: #666666;
  width: 44%;
  align-self: center;
  margin: 0 auto 3.125rem;

  @include tablets{
    width: 56%;
    margin: 0 auto 4.125rem;
  }

  @include phones{
    width: 100%;
  }
}

.why__list{
  display: flex;
  flex-direction: row;

  @include phones{
    flex-direction: column;
  }
}

.why__item{
  display: flex;
  flex-direction: column;
  margin-right: 4.5rem;
  position: relative;

  &:last-child{
    margin-right: 0;
  }

  &:after{
    content: "";
    width: 4.1875rem;
    height: 1.3125rem;
    position: absolute;
    top: 3.3125rem;
    left: -3.8125rem;
    background-image: url(../img/why/points.png);

    @include tablets{
      display: none;
    }
  }

  &:first-child:after{
    display: none;
  }
  
  @include tablets{
    margin-right: 3.5rem;
  }

  @include phones{
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 3.08rem;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.why__text{
  @include phones{
    width: 69%;
    text-align: start;
  }

  p{
    width: 100%;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0;
  }

  h4{
    color: #000;
    font-size: 1.6875rem;
    font-weight: 700;
    margin-bottom: 0.875rem;

    @include phones{
      font-size: 27px;
    }
  }
}

.why--frame{
  align-self: center;
  width: 7.8125rem;
  height: 7.8125rem;
  border-radius: 50%;
  background-color: #f2f5f4;
  position: relative;
  margin-bottom: 1.6875rem;

  @include tablets{
    margin-bottom: 1rem;
  }

  @include phones{
    width: 9.6rem;
    height: 9.6rem;
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}

.why__img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.6875rem;
  height: 4.3125rem;
  fill: #2e2e2d;

  @include phones{
    width: 5.77rem;
    height: 5.3rem;
  }
}