.btn{
  padding: 19px 35px;
  border: none;
  color: #365a49;
  text-transform: uppercase;
  font-size: 19px;
  border-radius: 29px;
  font-weight: 800;
  background-color: #fff;
  margin-bottom: 67px;
  cursor: pointer;
}